<!-- File: voter_analytics/voter_detail.html
Author: Clarissa Chen (clchen5@bu.edu), 10/31/2025
Description: Displays information for one voter -->


{% extends 'voter_analytics/base.html' %}
 
 
{% block content %}
<div class="container">
	<h1>Voters</h1>

     <!-- navigation links for different pages of results -->
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>

    <div class="row">

        <table>
            <tr>
                <td>Name: {{v.first_name}} {{v.last_name}}</td>
            </tr>

            <tr><td>Street Address: {{v.res_add_street_num}} {{v.res_add_street_name}}, 
                {% if v.res_add_apt_num %}
                    Apt {{ v.res_add_apt_num }}, 
                    {% endif %}

                    {% if v.res_add_zip_code %}
                    {{v.res_add_zip_code}}
                    {% endif %}
            </td></tr>
            <tr><td>Date of Birth: {{v.date_of_birth}}</td></tr>  
            <tr><td>Date of Registration: {{v.date_of_registration}}</td></tr>
            <tr><td>Party Affiliation: {{v.party_affiliation}}</td></tr>
            <tr><td>Voter Score: {{v.voter_score}}</td></tr>

        </table>
        <h3>Voted In: </h3>
        <table>
            <tr><td>v20state: {{v.v20state}}</td></tr>
            <tr><td>v21town: {{v.v21town}}</td></tr>
            <tr><td>v21primary: {{v.v21primary}}</td></tr>
            <tr><td>v22general: {{v.v22general}}</td></tr>
            <tr><td>v23town: {{v.v23town}}</td></tr>
        </table>
    <br>
        <a href="https://www.google.com/maps/search/?api=1&query={{ v.res_add_street_num|urlencode }}+{{ v.res_add_street_name|urlencode }}+{{ v.res_add_zip_code|urlencode }}"
  target="_blank"
>View in Google Maps
</a>

    </div>
    
{% endblock %}
 