{% extends 'hw/base.html' %}

{% block content %}

    <h1>About this page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquam natus laborum sit architecto adipisci repudiandae quam. Consequatur eligendi cupiditate natus debitis, reprehenderit, autem rerum esse doloribus labore, nulla provident!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nisi veniam, perferendis doloremque tenetur culpa ipsum illum, at, ut officia veritatis sunt quibusdam fuga aperiam quos quidem aliquid distinctio ullam?</p>
{% endblock %}