<!-- File: project/base.html
Author: Clarissa Chen (clchen5@bu.edu), 11/25/2025
Description: Creates base template for all pages in project app -->

{% load static %} <!-- makes static files available for use of styles.css later -->

<html>
    <head>
        <title>Prepped</title>
        <link rel="stylesheet" href="{% static 'project/styles.css' %}"> <!--specifies the styling-->
    </head>

    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'show_all_meal_plans'%}">All Meal Plans</a></li>
                <li><a href="{% url 'show_all_meal_ideas'%}">All Meal Ideas</a></li>
                <li><a href="{% url 'show_all_ingredients'%}">All Ingredients</a></li>

                {% if request.user.is_authenticated %}
                <li><a href="{% url 'show_creator_meal_ideas' %}">My Meal Ideas</a></li>
                <li><a href="{% url 'show_creator_meal_plans' %}">My Meal Plans</a></li>
                {% endif %}

                
            </ul>


        </nav>

        <div class="right-align">
            {% if request.user.is_authenticated %} 
                <form action="{% url 'logout_page' %}" method="POST">
                    {% csrf_token %}
                    <li><input type="submit" value="Logout"></li>
                </form>

            {% else %}
                
                <li><a href="{% url 'login_page' %}"><button>Login</button></a></li>
                <li><a href="{% url 'create_creator' %}"><button>Create Account</button></a></li>
            {% endif %}
                
            {% if request.user.is_authenticated %}
                Logged in as: {{request.user}}
            {% else %}
                Not logged in
            {% endif %} 
      
        </div>       
        
        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}
        <!-- end page specific content -->

    
    </body>
</html>