<!-- File: project/base.html
Author: Clarissa Chen (clchen5@bu.edu), 11/25/2025
Description: Creates base template for all pages in project app -->

{% load static %} <!-- makes static files available for use of styles.css later -->

<html>
    <head>
        <title>Prepped</title>
        <link rel="stylesheet" href="{% static 'project/styles.css' %}"> <!--specifies the styling-->
    </head>

    <body>
        {% if request.user.is_authenticated %} 
            <form action="{% url 'logout_page' %}" method="POST">
                {% csrf_token %}
                <li><input type="submit" value="Logout"></li>
            </form>

        {% else %}
            <li><a href="{% url 'login_page' %}">Login</a></li>
            <li><a href="{% url 'create_creator' %}">Create Account</a></li>
        {% endif %}
            
        {% if request.user.is_authenticated %}
        Logged in as: {{request.user}}
        {% else %}
        Not logged in
        {% endif %}        

        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}
        <!-- end page specific content -->

    <nav>
            <ul>
                <li><a href="{% url 'show_all_meal_plans'%}">My Meal Plans</a></li>
                <li><a href="{% url 'show_all_meal_ideas'%}">All Meal Ideas</a></li>
                <li><a href="{% url 'show_all_ingredients'%}">All Ingredients</a></li>
                 
                
                
                

                
            </ul>
        </nav>
    </body>
</html>