<!-- File: project/base.html
Author: Clarissa Chen (clchen5@bu.edu), 11/25/2025
Description: Creates base template for all pages in project app -->

{% load static %} <!-- makes static files available for use of styles.css later -->

<html>
    <head>
        <title>Prepped</title>
        <link rel="stylesheet" href="{% static 'mini_insta/styles.css' %}"> <!--specifies the styling-->
    </head>

    <body>
        

        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}
        <!-- end page specific content -->

        <!-- <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles'%}">Show All Profiles</a></li>
                    
                    {% if profile %}
                    <!-- if profile is passed as a context variable,6 show link -->
                        {% if request.user.is_authenticated and profile.user_id == request.user.id %}
                      
                        <li><a href="{% url 'create_post' %}">Create a Post</a></li>
                        {% endif %}

                        
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'feed' %}">Home</a></li>
                        <li><a href="{% url 'search' %}">Search</a></li>
                        <li><a href="{% url 'show_logged_in_profile' %}">My Profile</a></li>
                    {% endif %}

                    
                </ul>
            </nav> -->
    </body>
</html>