<!-- File: project/create_meal_plan_entry_form.html
Author: Clarissa Chen (clchen5@bu.edu), 12/7/2025
Description: Displays information for adding a meal idea to a meal plan. -->



{% extends 'project/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>Add Meal Idea to Meal Plan</h1>
<div>
    <h2>{{meal_idea.name}}</h2>
    <h3>{{meal_idea.ingredients}}</h3>
    
    {% if meal_idea.image %}
        <img src="{{meal_idea.get_image_url}}" alt="">
    {% endif %}
    <a href="{{meal_idea.link}}">Link to Recipe</a>
    <h3>Created by {{meal_idea.creator.first_name}} {{meal_idea.creator.last_name}}</h3>
    
</div>
<div class="create">
    <form action="{% url 'add_to_meal_plan' meal_idea.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}  <!-- Displays form values  -->
        <input type="submit" name="submit" value="Submit">

        <a href="{% url 'show_all_meal_ideas' %}">
             <button type="button">Cancel</button>
        </a>
    
    </form>
</div>

{% endblock %} <!-- page specific content ends here -->