<!-- File: project/show_all_ingredients.html 
Author: Clarissa Chen (clchen5@bu.edu), 12/4/2025
Description: Displays information for all project ingredients -->


{% extends 'project/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>
    All Ingredients
</h1>

<div class="center-align">
    <a href="{% url 'create_ingredient' %}">
        <button>Add Ingredient</button>
    </a>
    <a href="{% url 'create_store' %}">
        <button>Add Store</button>
    </a>



    <table>
        <tr>
            <th>Ingredient: </th>
            <th>Unit:</th>
            <th>Store:</th>
            
        </tr>
        {% for ingredient in ingredients %} <!--use a for to display all of the ingredients-->
        <tr>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.unit}}</td>
            <td>{{ingredient.store.name}}</td>
            <td><a href="{% url 'delete_ingredient' ingredient.pk %}">
        <button>Delete</button> 
    </a></td>
        </tr>

        {% endfor %}
    </table>
    </div>
    
    

{% endblock %} <!-- page specific content ends here -->