<!-- File: project/show_all_meal_plans.html 
Author: Clarissa Chen (clchen5@bu.edu), 11/25/2025
Description: Displays information for all project meal plans -->


{% extends 'project/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>
    My Meal Plans
</h1>

<main class="grid-container">
    {% for meal_plan in meal_plans %} <!--use a for to display all of the meal plans-->
    <profile>
        <div>
            <a href="{% url 'show_meal_plan' meal_plan.pk %}"><h2>{{meal_plan.name}}</h2></a>
        </div>
    </profile>
    {% endfor %}
</main>
{% endblock %} <!-- page specific content ends here -->