<!-- File: project/show_creator_meal_plans.html 
Author: Clarissa Chen (clchen5@bu.edu), 12/9/2025
Description: Displays information for logged in creator's meal plans -->


{% extends 'project/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>
    My Meal Plans
</h1>

<div class="center-align">
    <a href="{% url 'create_meal_plan' %}">
        <button>Create New Meal Plan</button>
    </a>
</div>
<main class="grid-container">
    {% for meal_plan in meal_plans %} <!--use a for to display all of the meal plans-->
        <a href="{% url 'show_meal_plan' meal_plan.pk %}">
            <div class="meal_plan_card">
                <h2>{{meal_plan.name}}</h2>
            </div>
        </a>
    
    {% endfor %}
</main>

{% endblock %} <!-- page specific content ends here -->