<!-- File: project/show_all_meal_ideas.html 
Author: Clarissa Chen (clchen5@bu.edu), 11/25/2025
Description: Displays information for all project meal ideas -->


{% extends 'project/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>
    All Meal Ideas
</h1>
<div class="center-align">
    <a href="{% url 'create_meal_idea' %}"><button>Add Meal Idea</button></a>
</div>
<main class="grid-container">
    
    {% for meal_idea in meal_ideas %} <!--use a for to display all of the meal ideas-->
        <div class="card">
            <h2>{{meal_idea.name}}</h2>
            
            {% if meal_idea.image %} <!-- checks if there is an image -->
                <img src="{{meal_idea.get_image_url}}" alt="">
            {% endif %}
            <h3>Created by {{meal_idea.creator.first_name}} {{meal_idea.creator.last_name}}</h3>
            <h3>Ingredients: {{meal_idea.ingredients}}</h3>
            <a href="{{meal_idea.link}}"><button>View Recipe</button></a>
            
            <!-- <a href="{% url 'create_meal_ingredient' meal_idea.pk %}">
                <button>Add Ingredient</button>
            </a> -->
            <a href="{% url 'add_to_meal_plan' meal_idea.pk %}">
                <button>Add to Meal Plan</button>
            </a>

            

            {% if request.user.is_authenticated and meal_idea.creator.user == request.user %} <!-- only update a meal idea if it is by the current user -->
             <a href="{% url 'update_meal_idea' meal_idea.pk %}">
                <button>Update Meal Idea</button>
            </a>
            {% endif %}
        </div>
    {% endfor %}
</main>


{% endblock %} <!-- page specific content ends here -->