<!-- File: project/show_all_meal_ideas.html 
Author: Clarissa Chen (clchen5@bu.edu), 11/25/2025
Description: Displays information for all project meal ideas -->


{% extends 'project/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>
    All Meal Ideas
</h1>

<main class="grid-container">
    {% for meal_idea in meal_ideas %} <!--use a for to display all of the meal ideas-->
    <profile>
        <div>
            <h2>{{meal_idea.name}}</h2>
            <h3>{{meal_idea.ingredients}}</h3>
            
            {% if meal_idea.image %}
                <img src="{{meal_idea.get_image_url}}" alt="">
            {% endif %}
            <a href="{{meal_idea.link}}">Link to Recipe</a>
            <h3>Created by {{meal_idea.creator.first_name}} {{meal_idea.creator.last_name}}</h3>
            <a href="{% url 'add_to_meal_plan' meal_idea.pk %}">
                <button>Add to Meal Plan</button>
            </a>
             <a href="{% url 'update_meal_idea' meal_idea.pk %}">
                <button>Update Meal Idea</button>
            </a>
        </div>
    </profile>
    {% endfor %}
</main>

<a href="{% url 'create_meal_idea' %}">Add Meal Idea</a>
{% endblock %} <!-- page specific content ends here -->