<!-- 
File: restaurant/base.html
Author: Clarissa Chen (clchen5@bu.edu), 9/19/2025
Description: Base html template for all pages on restaurant -->
{% load static %}
<html>
    <head>
        <title>Clarissa's Cafe</title>
        <link rel="stylesheet" href="{% static 'restaurant/styles.css' %}">
    </head>
    <body>
        <h1>Clarissa's Cafe</h1>
        <nav>
            <!-- creates navigation links to main and order pages -->
            <a href="{% url 'main_page' %}">Main Page</a>
            <a href="{% url 'order_page' %}">Order Page</a>
        </nav>

        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}
        
    </body>
</html>