{% extends 'restaurant/base.html' %}
{% block content %}
    <h2 class="info">{{name}}</h2>
    <br>
    <h3 class="info">{{location}}</h3>
    <br>
    <h3 class="info">Hours:</h3>
    <div class="center">
        <table>
            {% for d,t in hours %}
            
            <tr>
                <td>{{d}}</td>
                <td>{{t}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% for i in images %}
    <img src={{i}}>
    {% endfor %}
    
    
{% endblock %}