<!-- 
File: restaurant/main.html
Author: Clarissa Chen (clchen5@bu.edu), 9/19/2025
Description: Main page that displays the restaurant name, 
location, hours, and image -->

{% extends 'restaurant/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
    <h2 class="info">{{name}}</h2>
    <br>
    <h3 class="info">{{location}}</h3>
    <br>
    <h3 class="info">Hours:</h3>
    <div class="center">
        <table>
            <!--displays each day and associated hours as own row in table-->
            {% for d,t in hours %}
            <tr>
                <td>{{d}}</td>
                <td>{{t}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- page currently is only sent one image in the context variable 
     but made a loop to easily add images for display if wanted in future
      by sending more in the context variable "images" in the main view-->
    {% for i in images %}
    <img src={{i}}>
    {% endfor %}
    
    
{% endblock %} <!-- page specific content ends here -->