<!-- File: mini_insta/base.html
Author: Clarissa Chen (clchen5@bu.edu), 9/26/2025
Description: Creates base template for all pages in mini_insta app -->

{% load static %} <!-- makes static files available for use of styles.css later -->

<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta/styles.css' %}"> <!--specifies the styling-->
    </head>

    <body>
        <head>
            <h1>Fruits & Veg Insta</h1>

            {% if request.user.is_authenticated %} 
            <form action="{% url 'logout_page' %}" method="POST">
                {% csrf_token %}
                <li><input type="submit" value="Logout"></li>
            </form>

            {% else %}
                <li><a href="{% url 'login_page' %}">Login</a></li>
            {% endif %}
            
            {% if request.user.is_authenticated %}
            Logged in as: {{request.user}}
            {% else %}
            Not logged in
            {% endif %}
        </head>


        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}
        <!-- end page specific content -->

        <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles'%}">Show All Profiles</a></li>
                    
                    {% if profile %}
                    <!-- if profile is passed as a context variable,6 show link -->
                        {% if request.user.is_authenticated and profile.user_id == request.user.id %}
                      
                        <li><a href="{% url 'create_post' %}">Create a Post</a></li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'feed' %}">Home</a></li>
                            <li><a href="{% url 'search' %}">Search</a></li>
                            <li><a href="{% url 'show_logged_in_profile' %}">My Profile</a></li>
                        {% endif %}
                    {% endif %}

                    
                </ul>
            </nav>
    </body>
</html>