<!-- File: mini_insta/create_post_form.html
Author: Clarissa Chen (clchen5@bu.edu), 10/3/2025
Description: Displays information for creating a Post on mini_insta -->



{% extends 'mini_insta/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>Create a Post</h1>

<form action="{% url 'create_post' pk=profile.pk %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    Image URL: <input type="text" name="image_url">
    <input type="submit" name="submit" value="Submit">
    <button type="button" onclick='window.location.href="{% url "show_profile" pk=profile.pk %}"'> Cancel
    </button>
  

     <!-- <a href="{% url 'show_profile' pk=profile.pk %}">Cancel</a> -->

    

</form>
{% endblock %} <!-- page specific content ends here -->