<!-- File: mini_insta/show_profile.html
Author: Clarissa Chen (clchen5@bu.edu), 9/26/2025
Description: Displays information for one mini_insta profile -->

{% extends 'mini_insta/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>{{profile.username}}</h1>
    
    <profile_page>
    
        <h2>{{profile.username}}</h2>
        <h3>{{profile.display_name}}</h3>
        
        <p>Bio: {{profile.bio_text}}</p>

        <a href="{% url 'followers' profile.pk %}">
            <h3>Followers: {{profile.get_num_followers}}</h3> 
        </a>
        <a href="{% url 'following' profile.pk %}">
            <h3>Following: {{profile.get_num_following}} </h3>
        </a>
        
        <h3>Joined on {{profile.join_date}}</h3>
        <div class="buttons">
            {% if request.user.is_authenticated and profile.user_id == request.user.id %}
                <a href="{% url 'update_profile' %}">
                    <button type="button">Update Profile</button>
                </a>
            {% endif %}

            {% if request.user.is_authenticated and profile.user_id != request.user.id %}
                <a href="{% url 'follow_profile' pk=profile.pk %}">
                    <button type="button">Follow</button>
                </a>
            {% endif %}
        </div>
       
        <div class="large">
            <img src="{{profile.profile_image_url}}" alt="">
        </div>

       
        
        <main class="grid-container">
            
            {% for post in profile.get_all_posts %}
            <!-- show all posts for the profile -->
                <div>
                    {% with photo=post.get_all_photos|first %}
                    <!-- ensures only the first photo is show for the post -->
                        <a href="{% url 'show_post' post.pk %}"><img src="{{photo.get_image_url}}" alt=""></a>
            
                    {% endwith %}
                    
                </div>
            {% endfor %}
        </main>
    </profile_page>

{% endblock %} <!-- page specific content ends here -->