{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>{{profile.username}}</h1>
<main class="grid-container">
    <profile>
        <div>
            <h2>{{profile.username}}</h2>
            <h3>{{profile.display_name}}</h3>
            <div>
                <img src="{{profile.profile_image_url}}" alt="">
            </div>
            <p>Bio: {{profile.bio_text}}</p>
            <h3>Followers: </h3>
            <h3>Following: </h3>
            <h4>Joined on {{profile.join_date}}</h4>
            <h3>Posts Placeholder</h3>
        </div>
    </profile>
</main>

{% endblock %}