<!-- File: mini_insta/show_followers.html
Author: Clarissa Chen (clchen5@bu.edu), 10/16/2025
Description: Displays information for profiles that are following a profile -->


{% extends 'mini_insta/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>
    Followers
</h1>

<main class="grid-container">
    {% for follower in profile.get_followers %} <!--use a for to display all of the profiles-->
    <profile>
        <div>
            <h2>{{follower.username}}</h2>
            <h3>{{follower.display_name}}</h3>
            <a href="{% url 'show_profile' follower.pk %}">
                <img src="{{follower.profile_image_url}}" alt="">
            </a>
            </div>
    </profile>
    {% endfor %}
</main>
{% endblock %} <!-- page specific content ends here -->