<!-- File: mini_insta/show_post.html
Author: Clarissa Chen (clchen5@bu.edu), 10/3/2025
Description: Displays information for one mini_insta Post -->

{% extends 'mini_insta/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>{{post.profile}}</h1>
    
    

    <div id="show_post">
    
        {% for photo in post.get_all_photos %}  
        <!-- show all photos for the post -->
            <div>
                <img src="{{ photo.get_image_url }}" alt="Some photo">
                <a href="{% url 'delete_photo' photo.pk %}">
                    <button type="button">Delete Photo</button>
                </a>
            </div> 
            
        {% endfor %}

        <h2>Liked by {{post.get_likes.0}} and {{post.get_likes.1}} others </h2>
        <h2>{{post.caption}}</h2>
        <h3>{{post.timestamp}}</h3>
        {% for comment in post.get_all_comments %}
            <h4>{{comment.profile.username}}: {{comment.text}}</h4>
        {% endfor %}
        
        <div>
            <a href="{% url 'delete_post' post.pk %}">
                <button type="button">Delete</button>
            </a>

            <a href="{% url 'update_post' post.pk %}">
                <button type="button">Update</button>
            </a>

             <a href="{% url 'create_photo' post.pk %}">
                <button type="button">Add Photos</button>
            </a>
        </div>

    </div>
    

{% endblock %} <!-- page specific content ends here -->