<!-- File: mini_insta/show_post.html
Author: Clarissa Chen (clchen5@bu.edu), 10/3/2025
Description: Displays information for one mini_insta Post -->

{% extends 'mini_insta/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>{{post.profile}}</h1>
    
    

    <div id="show_post">
    
        {% for photo in post.get_all_photos %}  
        <!-- show all photos for the post -->
            <div>
                <img src="{{ photo.get_image_url }}" alt="Some photo">

                {% if request.user.is_authenticated and photo.post.profile.user_id == request.user.id %}
                    <a href="{% url 'delete_photo' photo.pk %}">
                        <button type="button">Delete Photo</button>
                    </a>
                {% endif %}
            </div> 
            
        {% endfor %}

         {% if request.user.is_authenticated and post.profile.user_id != request.user.id %}
                {% if is_liked %}
                <a href="{% url 'delete_like' pk=post.pk %}">
                    <button type="button">Unlike</button>
                </a>
                {% else %}
                <a href="{% url 'like_post' pk=post.pk %}">
                    <button type="button">Like</button>
                </a>
                {% endif %}
            
            
            {% endif %}

        <!-- {% if request.user.is_authenticated and post.profile.user_id != request.user.id %}
                <a href="{% url 'like_post' pk=post.pk %}">
                    <button type="button">Like</button>
                </a>
        {% endif %} -->
        <h2>Liked by {{post.get_likes}} </h2>
        <h2>{{post.caption}}</h2>
        <h3>{{post.timestamp}}</h3>
        {% for comment in post.get_all_comments %}
            <h4>{{comment.profile.username}}: {{comment.text}}</h4>
        {% endfor %}
        
        <div>
            {% if request.user.is_authenticated and post.profile.user_id == request.user.id %}
            <a href="{% url 'delete_post' post.pk %}">
                <button type="button">Delete</button>
            </a>

            <a href="{% url 'update_post' post.pk %}">
                <button type="button">Update</button>
            </a>

             <a href="{% url 'create_photo' post.pk %}">
                <button type="button">Add Photos</button>
            </a>
            {% endif %}
        </div>

    </div>
    

{% endblock %} <!-- page specific content ends here -->