<!-- File: mini_insta/update_profile_form.html
Author: Clarissa Chen (clchen5@bu.edu), 10/10/2025
Description: Displays information for updating a Profile on mini_insta -->



{% extends 'mini_insta/base.html' %} <!-- uses base template -->

{% block content %} <!-- page specific content starts here -->
<h1>Update a Profile</h1>
<div class="update">
    <form action="{% url 'update_profile' profile.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Display name: <input type="text" name="display_name" value="{{profile.display_name}}">
        Profile image url: <input type="text" name="profile_image_url" value="{{profile.profile_image_url}}">
        Bio text: <input type="text" name="bio_text" value="{{profile.bio_text}}">

        <input type="submit" name="submit" value="Update">
    
    </form>

    <form action="{% url 'show_profile' profile.pk %}" method="GET">
        <input type="submit" value="Cancel">
    </form>
</div>

{% endblock %} <!-- page specific content ends here -->