/* File: voter_analytics/styles.css
Author: Clarissa Chen (clchen5@bu.edu), 10/31/2025
Description: Specifies styling for voter_analytics app  */

body {
    background-color: pink;
    color: black;
    font-family: georgia;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px auto;
}

.container {
    text-align: center;
    justify-content: center;

}


form {
    justify-content: center;
}